<head>
  <title> <%= tag.titulo %> </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-Control" content="public,max-age=1800,max-stale,stale-while-revalidate=86400,stale-if-error=259200" rem="max-age=30minutes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="<%= tag.meta_description %>">
  <meta name="Keywords" content="<%= tag.meta_keywords %>">
  <meta name="theme-color" content="#006600">
  <meta name="robots" content="index, follow">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= tag.og_title %>">
  <meta property="og:description" content="<%= tag.meta_description %>">
  <meta property="og:url" content="<%= tag.meta_URL %>">
  <meta property="og:image" content="https://possosairdecasa.herokuapp.com/public/images/logo.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@PossoSairDeCasa">
  <meta name="twitter:title" content="<%= tag.og_title %>">
  <meta name="twitter:description" content="<%= tag.meta_description %>">
  <meta name="twitter:image:src" content="https://possosairdecasa.herokuapp.com/public/images/logo.png">
  <meta name="twitter:domain" content="https://possosairdecasa.herokuapp.com">
  <link rel="shortcut icon" href="../../public/images/logo.png"/>
  <link rel="icon" href="../../public/images/logo.png"/>
  <link rel="apple-touch-icon" href="../../public/images/logo.png">
  <link rel="apple-touch-startup-image" href="../../public/images/logo.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-navbutton-color" content="#006600">
</head>